body {
    font-family: Arimo, Arial, Helvetica, sans-serif;
    background: url(./Subway-img.jpeg) no-repeat;
    background-size: 100%;
    text-align: center;
    margin: 0;
  }
  
  section {
    background: linear-gradient(0deg,rgb(100, 100, 100),transparent,rgb(100, 100, 100));
    padding: 20px 0;
    border-radius: 5%;
    width: 600px;
    margin: 100px auto;
  }
  
  h1 {
    font-size:50px;
    color:rgb(42, 163, 163);
    text-shadow: 0 0 10px black;
  }
  
  p {
    font-size:35px;
    font-weight:600;
  }
  
  p:nth-of-type(1) {
    text-shadow: 0 0 10px rgb(100, 100, 100);
  }

  p:nth-of-type(2) {
    color: rgb(42, 163, 163);
    text-shadow: 0 0 2px black;
  }
  
  button {
    background: white;
    border:none;
    width:15pc;
    height:50px;
    border-radius:5px;
    box-shadow: inset 1px 1px 100px 1px black, 1px 1px 50px 1px black;
    margin-bottom:10px;
    margin-top:10px;
    color:white;
  }
  
  button:nth-of-type(2) {
    box-shadow: inset 1px 1px 100px 1px darkgreen, 1px 1px 50px 1px darkgreen;
  }
  
  button:hover {
    transform:scale(1.1);  
  }
  
  button:active {
    transform:scale(1.2);
  }

  
  